.goods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  &__header {
    @extend %headline-large-screen;
    margin: 0 auto 40px;
  }
  &__scroll-wraper {
    position: relative;
    width: 100%;
  }
  &__cards-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    list-style: none;
    overflow-x: scroll;
    // box-sizing: border-box;
    // margin-bottom: 40px;
  }
  &__cards-container::-webkit-scrollbar {
    // padding-top: 40px;
    // margin-top: 40px;
    max-height: 4px;

    border-radius: 100px;
  }
  &__cards-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $color-light;
    // border-right: 20px solid transparent;
    // border-left: 20px solid transparent;
    // background-clip: content-box;
    // min-width: 100px;
  }
  &__cards-container::-webkit-scrollbar-track {
    background-color: #292929;
    // background-clip: content-box;
    // border-right: 20px solid $color-black;
    // border-left: 20px solid $color-black;
    border-radius: 100px;
    // border-top: 40px solid transparent;
    margin: 0 20px;
  }

  &__card {
    margin-bottom: 40px;
    height: 400px;
    position: relative;
  }
  &__photo {
    height: 400px;
    width: 320px;
    object-fit: cover;
  }
  &__buy-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 116px;
    height: 40px;
    color: $color-white;
    background-color: $color-black;
    // box-sizing: border-box;
    // border: 1px solid $color-white;
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    @extend %button-text-screen;
  }
  &__scroll-right {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 180px;
    background-image: url("./../images/arrow-right.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__scroll-left {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 180px;
    background-image: url("./../images/arrow-left.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 80px;
    flex-direction: row-reverse;
  }
  &__poster {
    width: 100%;
    object-fit: cover;
    // padding-bottom: 56.25%;
    // background-image: url("./../images/goods.png");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
  @media screen and (max-width: $pad) and (min-width: $phone) {
  }
  @media screen and (max-width: $phone) {
    min-width: $min-screen;
    &__header {
      @include headline-large-phone;
      margin: 0 auto 20px;
    }
    &__card {
      margin-bottom: 20px;
    }
    &__buy-btn {
      width: 286px;
    }
  }
}
