.goods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  &__header {
    @extend %headline-large-screen;
    margin: 0 auto 40px;
  }
  &__gallery {
    width: 100%;
    padding-bottom: 27.7%;
    background-image: url("./../images/gallery-placeholder.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 80px;
    flex-direction: row-reverse;
  }
  &__poster {
    width: 100%;
    padding-bottom: 56.25%;
    background-image: url("./../images/goods.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: $pad) and (min-width: $phone) {
  }
  @media screen and (max-width: $phone) {
    min-width: $min-screen;
    &__header {
      @include headline-large-phone;
      margin: 0 auto 20px;
    }
  }
}
