.header {
  width: 100%;
  padding-bottom: 56.25%;
  background-image: url("./../images/sportsman.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__menu-wraper {
    padding: 40px 20px 0;
  }
  &__menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("./../images/icon_menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__hero {
    margin: 120px 20px 0;
    max-width: 460px;
    width: 100%;
    height: 160px;
    @extend %headline-large-screen;
    color: $color-black;
  }
  @media screen and (max-width: $pad) and (min-width: $phone) {
    &__hero {
      margin: 80px 20px 0;
    }
  }
  @media screen and (max-width: $phone) {
    min-width: $min-screen;
    &__menu-wraper {
      padding: 20px 20px 0;
    }
    &__menu-btn {
      width: 24px;
      height: 24px;
    }
    &__hero {
      margin: 40px 20px 0;
      max-width: 280px;
      @include headline-large-phone;
    }
  }
}
