.collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  color: $color-white;

  &__header {
    @extend %headline-large-screen;
    margin: 80px auto 40px;
  }
  &__about {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 80px;
  }
  &__text {
    width: 50%;
    @extend %body-text-screen;
    margin: 0;
  }
  &__image-wrap {
    width: 33.33%;
  }
  &__image {
    width: 100%;
  }
  &__poster {
    width: 100%;
    padding-bottom: 56.25%;
    background-image: url("./../images/training.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 80px;
  }
  &__motto {
    width: 33.33%;
    @extend %headline-small-screen;
    margin: 0;
  }
  @media screen and (max-width: $pad) and (min-width: $phone) {
    &__motto {
      @include headline-small-pad;
    }
  }
  @media screen and (max-width: $phone) {
    min-width: $min-screen;
    &__header {
      @include headline-large-phone;
      margin: 40px auto 20px;
    }
    &__about {
      flex-direction: column;
      padding: 0 20px 40px;
    }
    &__text {
      width: 100%;

      padding-bottom: 20px;
    }
    &__image-wrap {
      width: 100%;
    }
    &__summary {
      flex-direction: column;
      padding: 40px 20px 20px;
    }
    &__motto {
      width: 100%;
      @include headline-small-phone;
      padding-bottom: 20px;
    }
  }
}
